.Footer {
  font-size: 0.9em;
  line-height: 1;
  cursor: default;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;

}

.Footer .Ampersand {
  font-size: 0.6em;
  margin: 0 0.3em;
}

.Footer svg {
  width: 1em;
}

.Footer path {
  fill: green;
}